html {
  scroll-behavior: smooth;
}
.rd-navbar-center.rd-navbar-static .rd-navbar-top-panel .icon {
  color: #0b2c61;
}
.rd-navbar-center.rd-navbar-static .rd-navbar-top-panel .icon:hover{
    color: #fff !important;
}
.navbar-icon{
  width: 40px !important;
  height: 40px !important;;
  line-height: 40px !important;;
  font-size: 18px !important;;
}
.post-news-body h4 a {
    color: #b80924;
}

.post-news-body h4{
    line-height: 0.5;
}
.breadcrumb-classic .list-inline-dashed > li:last-child,
.breadcrumb-modern .list-inline-dashed > li:last-child {
    color: #fff;
}

.post-news-body h6 {
    color: #b80924;
}

.text-subline {
  background: none;
}

.left{float: left}
.right{float: right}

.margin-right-10{ margin-right: 10px}
.margin-left-10{ margin-left: 10px}
.margin-top-10{ margin-top: 10px}
.margin-bottom-10{ margin-bottom: 10px}

.margin-right-20{ margin-right: 20px}
.margin-left-20{ margin-left: 20px}
.margin-top-20{ margin-top: 20px}
.margin-bottom-20{ margin-bottom: 20px}

.margin-right-30{ margin-right: 30px}
.margin-left-30{ margin-left: 30px}
.margin-top-30{ margin-top: 30px}
.margin-bottom-30{ margin-bottom: 30px}

.margin-right-40{ margin-right: 40px}
.margin-left-40{ margin-left: 40px}
.margin-top-40{ margin-top: 40px}
.margin-bottom-40{ margin-bottom: 40px}

.margin-right-50{ margin-right: 50px}
.margin-left-50{ margin-left: 50px}
.margin-top-50{ margin-top: 50px}
.margin-bottom-50{ margin-bottom: 50px}