<div class="novi-background bg-cover bg-default">
    <div class="shell-wide">
        <div class="hr bg-gray-light"></div>
    </div>
    <div class="section-50">
        <div class="shell">
            <div class="range range-50 range-lg-justify range-xs-center">
                <div class="cell-md-4 cell-lg-4"><a class="reveal-inline-block" href="index.html"><img src="images/logo-default-2-144x122-1.png" alt="" srcset="images/logo-default-2-144x122-1.png"></a>
                    <div class="offset-top-30 text-center">
                        <ul class="list-inline list-inline-xs list-inline-madison">
                            <li><a class="icon novi-icon icon-xxs fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                            <li><a class="icon novi-icon icon-xxs fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="cell-xs-10 cell-md-4 cell-lg-4 text-lg-left">
                    <h6 class="text-bold">Contact us</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-30">
                        <ul class="list-unstyled contact-info list">
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle icon-xs text-madison"></span></div>
                                    <div class="unit-body"><a class="text-dark" href="tel:#">1-800-1234-567 |</a><a class="reveal-block reveal-md-inline-block text-dark" href="tel:#"> 1-800-6547-321</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon novi-icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                                    <div class="unit-body text-left"><a class="text-dark" href="#">2130 Fulton Street San Diego, CA 94117-1080 USA</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-left"><span class="icon novi-icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                                    <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-xs-10 cell-md-4 cell-lg-4 text-lg-left">
                    <h6 class="text-bold">Quick Link</h6>
                    <div class="text-subline"></div>
                    <div class="offset-top-30 text-left text-bold">
                        <ul class="list-unstyled contact-info list margin-right-30 left">
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="index.html">Home</a></div>
                                    <!--                        <div class="unit-left"><span class="icon novi-icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>-->
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="about.html">About</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="course-grid.html">Courses</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-unstyled contact-info list">
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="events.html">News</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="faq.html">FAQ</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                    <div class="unit-body"><a href="contact.html">Contact</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-5 bg-madison context-dark novi-background">
        <div class="shell text-md-center">
            <p class="">DA Education Consulting © <span class="copyright-year">2019</span> All Rights Reserved </p>
            <a href="privacy.html" class="text-bold">Terms of Use </a>|
            <a href="privacy.html" class="text-bold"> Privacy Policy</a>
        </div>
    </div>

</div>
