<div class="novi-background bg-cover bg-default">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar novi-background rd-navbar-center" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="220px" data-xl-stick-up-offset="220px" data-xxl-stick-up-offset="220px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-panel"><button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                    <h4 class="panel-title">DA Education Consulting</h4><button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                    <div class="rd-navbar-top-panel">
                        <div class="shell">
                            <div class="range range-10 range-md-center range-md-middle range-lg-around">
                                <div class="cell-md-3">
                                    <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                        <div class="unit-left"><span class="icon novi-icon mdi mdi-phone text-middle"></span></div>
                                        <div class="unit-body"><a class="reveal-block" href="tel:#">1-800-1234-567</a></div>
                                    </div>
                                    <div class="unit unit-horizontal unit-top unit-spacing-xs">
                                        <div class="unit-left"><span class="icon novi-icon mdi mdi-email text-middle"></span></div>
                                        <div class="unit-body"><a class="reveal-block" href="mailto:#">info@demolink.org</a></div>
                                    </div>
                                </div>
                                <div class="cell-md-3 text-center">
                                    <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html"><img src="images/logo-default-2-144x122-1.png" alt="" width="191" height="80"></a></div>
                                </div>
                                <div class="cell-md-3">
                                    <div class="inset-md-left-50">
                                        <div class="unit unit-horizontal unit-top unit-spacing-xs text-left">
                                            <ul class="list-inline list-inline-xs list-inline-madison">
                                                <li><a class="icon novi-icon icon-xxs fa-facebook navbar-icon icon-circle icon-gray-light-filled" href="#"></a></li>
                                                <li><a class="icon novi-icon icon-xxs fa-twitter navbar-icon icon-circle icon-gray-light-filled" href="#"></a></li>
                                                <li><a class="icon novi-icon icon-xxs fa-google navbar-icon icon-circle icon-gray-light-filled" href="#"></a></li>
                                                <li><a class="icon novi-icon icon-xxs fa-instagram navbar-icon icon-circle icon-gray-light-filled" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rd-navbar-menu-wrap clearfix">
                    <div class="rd-navbar-nav-wrap">
                        <div class="rd-navbar-mobile-scroll">
                            <div class="rd-navbar-mobile-header-wrap">
                                <div class="rd-navbar-mobile-brand"><a href="index.html"><img src="images/logo-default-2-144x122-1.png" alt="" srcset="images/logo-300x222.png 2x"></a></div>
                            </div>
                            <ul class="rd-navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="history.html">History</a></li>
                                    </ul>
                                </li>
                                <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="services.html">Services</a>
                                    <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="services.html">Service Details Page</a></li>
                                    </ul>
                                </li>
                                <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="blog.html">Events / News</a>
                                    <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">
                                        <li><a href="single-blog.html">Event Details Page</a></li>
                                        <li><a href="grid-news.html">Grid News</a></li>
                                        <li><a href="news-post-page.html">News Post Page</a></li>
                                    </ul>
                                </li>
                                <!--                    <li><a href="#">Pages</a>-->
                                <!--                      <ul class="rd-navbar-dropdown">-->
                                <!--                        <li><a href="team.html">Lecturer</a></li>-->
                                <!--                        <li><a href="gallery.html">Gallery</a></li>-->
                                <!--                        <li><a href="404.html">404</a></li>-->
                                <!--                        <li><a href="privacy.html">Terms of Use</a></li>-->
                                <!--                        <li><a href="coming-soon.html">Coming Soon</a></li>-->
                                <!--                        <li><a href="search-results.html">Search Results</a></li>-->
                                <!--                        <li><a href="team-member-profile.html">Team Member Profile</a></li>-->
                                <!--                      </ul>-->
                                <!--                    </li>-->
                                <!--                    <li class="rd-navbar&#45;&#45;has-dropdown rd-navbar-submenu"><a href="#">News</a>-->
                                <!--                      <ul class="rd-navbar-dropdown rd-navbar-open-right" style="">-->
                                <!--                        <li><a href="grid-news.html">Grid News</a></li>-->
                                <!--                        <li><a href="news-post-page.html">News Post Page</a></li>-->
                                <!--                      </ul>-->
                                <!--                    </li>-->
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
